/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.navbar-wrapper {
  margin-bottom: 90px;
}

body {
  /* Margin bottom by footer height */
  height: 100%;

}

.btn{
  float:right;
}

#educationblock{
  border: #cdcdcd medium solid;
}
/*
.fa{
  color:blue;
}*/
