{% extends "template/base.html" %}
{%block header%}
<h1>Jose Barcenas</h1>
<h2>{{title}}</h2>
{%endblock%}

{%block navigation%}
 {% for url, caption in names%}
 <li><a href = "{{url}}">{{caption}}<span class="sr-only">(current)</span></a></li>
 {% endfor %}
{%endblock%}

{% block content %}
<div class="container">
<div class="jumbotron">
  <p>Hello! My name is Jose Barcenas. I am an Electrical and Computer Engineer. My knowledge and experience has had me involved in several opportunites ranging from computer programming to silicon fabrication.</p>
</div>
</div>


<!-- Weather widget
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245"
width="100%" src="http://forecast.io/embed/#lat=42.4333&lon=-83.4833&name=Northville, MI">
</iframe>
-->

{%endblock%}
