{% extends "template/base.html" %}

{% block content %}
<div class="container">
  <div class="row" id="educationblock">
    <!--Resume Body-->
    <div class="col-xs-10">
        <h3>Education</h3>
    </div>
    <!--Sidebar-->
    <div class="col-xs-2 text-center">
      <a href="#" class="btn btn-default">Download PDF</a>
    </div>
   </div>

  <div class="row" id="educationblock">
    <!--Resume Body-->
    <div class="col-md-10">
        <h4>University of Michigan - Ann Arbor, MI</h4>
        <p><strong>Master of Science in Electrical and Computer Engineering</strong></p>
        <p>Specialization in Solid State Electronics and Nanotechnology </p>
    </div>
    <!--Sidebar-->
    <div class="col-md-2">
        <h4>GPA: 3.4</h4>
        <h5>Expected Graduation: April 2016</h5>
    </div>
   </div>

   <div class="row" id="educationblock">
     <div class="col-md-10">
        <h4>University of North Texas -Denton, TX</h4>
        <p><strong>Bachelor of Science in Computer Engineering</strong></p>
        <p>Specialization in VLSI and Electronics</p>
     </div>
     <!--Sidebar-->
     <div class="col-md-2">
        <h4>GPA: 3.72</h4>
        <h5>Graduated May 2014</h5>
     </div>
   </div>
</div>

<div class="container">
  <div class="row" id="educationblock">
      <div class="col-md-12">
          <h3>Experience</h3>
      </div>
  </div>

<div class="row" id="educationblock">
    <div class="col-md-12">
        <h4>kVA - Functional Safety Intern </h4>
        <h5>January 2016 - Present</h5>
        <ul>
        <li>Assessed repeatability, stability and measurement accuracy of thermal power systems across multiple product
segments/platforms</li>
        <li>Setup thermal power system experiments in a lab setting. Fully Integrated Voltage Regulator(FIVR) and System on
a Chip parts were tested</li>
        <li>Automate data collection and analysis using JMP and Python scripts</li>
        </ul>
    </div>
   </div>

  <div class="row" id="educationblock">
    <div class="col-md-12">
        <h4>Intel - Thermal and Power Validation Metrology Intern </h4>
        <h5>May 2015 - August 2015</h5>
        <ul>
        <li>Assessed repeatability, stability and measurement accuracy of thermal power systems across multiple product
segments/platforms</li>
        <li>Setup thermal power system experiments in a lab setting. Fully Integrated Voltage Regulator(FIVR) and System on
a Chip parts were tested</li>
        <li>Automate data collection and analysis using JMP and Python scripts</li>
        </ul>
    </div>
   </div>

   <div class="row" id="educationblock">
     <div class="col-md-12">
        <h4>NSF International - Engineering Intern </h4>
        <h5>January 2015 - April 2015</h5>
        <ul>
        <li>Wrote Visual Basic for Excel scripts to update automotive parts database from multiple sources</li>
        <li>Generate accuracy check reports of database created from multiple sources</li>
        <li>Audited OEM certification part reports from technicians for website listing</li>
        </ul>
     </div>
   </div>

   <div class="row" id="educationblock">
     <div class="col-md-12">
        <h4>Texas Instruments – Software Engineering Intern</h4>
        <h5>May 2013 - August 2013</h5>
        <ul>
        <li>Validate Android DSSComp(Display SubSystem Composition architecture) on Android Kernel 3.8 using a test
suite on a next generation “Jacinto 6” infotainment processor developed by Texas Instruments</li>
        <li>Update Design Specification Document for Android DSSComp</li>
        <li>Add new test cases to the test suite</li>
        </ul>
     </div>
   </div>
</div
{%endblock%}
